.FormC.error textarea,
.FormC.error input
{
    border: 2px solid red;
}
.FormC.error span {
    color: red;
}
.errorform{
    color: red;

}

textarea{
    resize: none;
    width: 200px;
    height: 50px;
}
.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.login h1{
    color: white;
}
.form{
    padding: 30px 50px;
    border-radius: 30px;
    background-color: #000000a8;
    color: white;
}
.button{
    padding: 5px 20px;
    background-color:#031129 ;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .5s;
    margin: 10px 0;
}

.button:hover{
    background-color: white;
    color:#031129 ;
}
.input{
    border: none;
    width: 200px;
    height: 30px;
}
.rmb{
    display: flex;
    margin: 10px 0;
}